In [2]:
a=[1,2,3,4,5,]
dir(a)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [3]:
a.append(6)

In [4]:
a

[1, 2, 3, 4, 5, 6]

a.clear()

In [7]:
a

[1, 2, 3, 4, 5, 6]

In [10]:
a.count({3})

0

In [11]:
help(a.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [12]:
s=[10,11]

In [13]:
a.extend(s)

In [14]:
a

[1, 2, 3, 4, 5, 6, 10, 11]

In [15]:
a.index(10)

6

In [16]:
a

[1, 2, 3, 4, 5, 6, 10, 11]

In [19]:
a.insert(4,10)

In [20]:
a

[1, 2, 3, 4, 10, 5, 6, 10, 11, 4]

In [21]:
a.insert(4,13)

In [22]:
a.remove()

TypeError: remove() takes exactly one argument (0 given)

In [23]:
a.pop(2)

3

In [24]:
help(a.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [25]:
a.remove(1)

In [27]:
#reverse function is used to reverse the order of a list based index
#sort() function will arrange the given list in asc orer
a.reverse()
sorted(a)

[2, 4, 4, 5, 6, 10, 10, 11, 13]

In [28]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [29]:
sorted(a,reverse=True)

[13, 11, 10, 10, 6, 5, 4, 4, 2]

In [30]:
a=[i for )]i in range(10,20)]
a

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [31]:
b=[i**2 for i in range(10,20)]

In [32]:
b

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [33]:
c= [i+10 for i in range(10,20)]

In [34]:
c

[20, 21, 22, 23, 24, 25, 26, 27, 28, 29]

In [35]:
d=[i  for i in range(0,50) if i%2]

In [36]:
d

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49]

In [37]:
e=[i  for i in range(0,50) if i%2==0]
e

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48]

In [40]:
f=[i  for i in range(50,102) if i%3==0]
f

[51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [41]:
g=[i  for i in range(0,100) if i%3==0 if i%5==0]
g

[0, 15, 30, 45, 60, 75, 90]

In [43]:
z=(10,14,15,18)
z

(10, 14, 15, 18)

In [46]:
c={"a":3,"b": 4}
type(c)

dict

In [47]:
c["b"]

4

In [48]:
c["a"]

3

In [49]:
help(c.fromkeys)

Help on built-in function fromkeys:

fromkeys(iterable, value=None, /) method of builtins.type instance
    Create a new dictionary with keys from iterable and values set to value.

In [55]:
my_dict={'Name':'Edwin', 'age': 27, 'address':'Guntur'}
l=["m","s"]
my_dict.fromkeys(l,["p","m","l"])
my_dict

{'Name': 'Edwin', 'age': 27, 'address': 'Guntur'}

In [51]:
c["a"]=18
c

{'a': 18, 'b': 4}

In [53]:
c.keys()

dict_keys(['a', 'b'])

In [54]:
c.values()

dict_values([18, 4])

In [56]:
a=[56,57,78,95,26]
b=[23,58,95,56,47]
s=(zip(a,b))
dict(s)

{56: 23, 57: 58, 78: 95, 95: 56, 26: 47}